*{
    margin: 0%;
    padding: 0%;
    font-family: century;
}

header
{
    background-image: url(./pexels-david-guerrero-2691312.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
    

}

ul li{
    display: inline-block;
}

ul li a
{
    text-decoration: none;
    color: rgb(78, 165, 191);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;

}

ul li a:hover{
    background-color: rgb(131, 131, 131);
    color: black;
}



footer
{
    height: 50%;
    width: auto;
    background-color: grey;
    color: rgb(227, 46, 46);
}

footer:hover{
    height: 70%;
    width: 100%;
    background-color: navy;
    color: red;
    font-size: 30px;
    transition: 3s;
}

.content {
    
    height: 40%;
    width: 100%;
    color: white;
    background-color: rgb(12, 12, 12);
    
    
}
.container1
{
    padding-bottom: 20px;
    
}

.content:hover
{
    font-size: 25px;
    transition: 4s;
    color: lightcyan;
}

@media only screen and(min-width: 320px)
{
    .container{
        height: 100%;
        width: 100%;
   }
   
   ul{
    
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 10px;
    transition: 3s;
   }



}